#login
    .oidc-icon
        height: 2lh
        width: auto
        vertical-align: middle
        margin-right: 0.4em

    .oidc-login-btn
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: inherit;
